<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <nicolasblancom_livereloadscript>
                <enable>1</enable>
                <script_url>/livereload.js?port=443</script_url>
            </nicolasblancom_livereloadscript>
        </dev>
    </default>
</config>
