<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dev" translate="label">
            <group id="nicolasblancom_livereloadscript" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>LiveReload</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled it will print the LiveReload script in head</comment>
                    <tooltip>Even if you enable it, you have to set magento mode to "developer" too. Otherwise it will not be added</tooltip>
                </field>
                <field id="script_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Script URL</label>
                    <comment>Default: /livereload.js?port=443</comment>
                    <tooltip>Domain will be added, so do not add it here!</tooltip>
                </field>
            </group>
        </section>
    </system>
</config>
